<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}

</head>

<body>

    {{>navbar}}
    <br />
    <!-- Close Header -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row" style="margin-top : 10px">
                    <div class="col-md-6 col-12 imgUser">
                        <img src="./images/hamza.jpeg" alt="Developer's Photo" />
                    </div>
                    <div class="col-md-6 col-12 header_leftSide">
                        <h6>Welcome to the Hamza'a Website</h6>
                        <h1> I am an <span style="color: #0984e3"> Experienced React js Developer and junior MERN
                                Stack</span> Developer</h1><br />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Header End -->

    {{>footer}}

</body>

</html>